//RWD-size
$web-S: 1024px;
$pad: 768px;
$mobile-L: 568px;
$mobile-S: 375px;
$mobile-XS: 320px;

//color
$basic-blue: #7DB9DE;
$light-sky: #A5DEE4;
$light-green: #C5DE7D;
$light-purple: #A5ABE4;
$blue-green: #33A6B8;
$dark-blue: #2B5F75;
$light-gray: #EEEFEF;
$hover: black;

//font-color
$font-color-title-D: #314965;
$font-color-title-L: white;
$font-color-text: #727171;

//font-size
$font-size-h2: 48px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-p: 16px;

//width

//padding
$padding-XXS: 10px;
$padding-XS: 30px;
$padding-S: 60px;
$padding-M: 100px;
$padding-L: 120px;

//margin
$margin-XS: 10px;
$margin-S: 25px;
$margin-M: 50px;
$margin-L: 80px;
$margin-XL: 140px;