//RWD-size
$web-XL: 1550px;
$web-L: 1366px;
$web-M: 1280px;
$web-S: 1024px;
$pad: 768px;
$mobile-L: 568px;
$mobile-S: 375px;
$mobile-XS: 320px;

//color
$primary-table: #e5f1f9;
$primary-tint: #a5dee4;
$primary-default: #7db9de;
$primary-dark: #2b5f75;
$primary-link: #009BCC;
$secondary: #c5de7d;
$yellow:#FFC107;
$complementary: #a5abe4;
$bk-20: #DCDDDD;
$bk-8: #f2f2f2;
$notice: #c95555;

//font-color
$font-D: #314965;
$text: #727171;

//font-size
$size-h1: 2.5rem; //40px
$size-h2: 1.875rem; //30px
$size-h3: 1.5rem; //24px
$size-h4: 1.25rem; //20px
$size-h5: 1.125rem; //18px
$size-p: 1rem; //16px

//padding
$p-XXS: 8px;
$p-XS: 16px;
$p-S: 24px;
$p-M: 32px;
$p-L: 40px;
$p-XL: 56px;
$p-2L: 64px;

//margin
$m-XXS: 4px;
$m-XS: 12px;
$m-S: 20px;
$m-M: 36px;
$m-L: 48px;
$m-XL: 52px;
$m-2L: 60px;
