//RWD-size
$web-S: 1024px;
$pad: 768px;
$mobile-L: 568px;
$mobile-S: 375px;
$mobile-XS: 320px;

//color
$basic-blue: #7db9de;
$light-sky: #a5dee4;
$light-green: #c5de7d;
$light-purple: #a5abe4;
$blue-green: #33a6b8;
$dark-blue: #2b5f75;
$light-gray: #eeefef;
$hover: black;

//font-color
$font-color-title-D: #314965;
$font-color-title-L: white;
$font-color-text: #727171;

//font-size
$font-size-h2: 48px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-p: 16px;

//padding
$padding-XXS: 10px;
$padding-XS: 30px;
$padding-S: 60px;
$padding-M: 100px;
$padding-L: 120px;

//margin
$margin-XS: 10px;
$margin-S: 25px;
$margin-M: 50px;
$margin-L: 80px;
$margin-XL: 140px;
