// RWD
@mixin web-XL {
    @media (max-width: $web-XL) {
        @content;
    }
}
@mixin web-L {
    @media (max-width: $web-L) {
        @content;
    }
}
@mixin web-S {
    @media (max-width: $web-S) {
        @content;
    }
}
@mixin pad {
    @media (max-width: $pad) {
        @content;
    }
}
@mixin mobile-L {
    @media (max-width: $mobile-L) {
        @content;
    }
}
@mixin mobile-XS {
    @media (max-width: $mobile-XS) {
        @content;
    }
}
// 通用
@mixin all() {
    font-family: "微軟正黑體";
    box-sizing: border-box !important;
    .container {
        width: 100%;
        max-width: 1440px ;
        margin: auto;
        padding: $p-2L 0;
        text-align: center;
        @include web-XL{
            max-width: 1336px;
            padding: $p-L $p-S;
        }
        @include web-L{
            max-width: unset;
        }
    }
    h1 {
        font-size: $size-h1;
        color: $font-W;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1.5;
    }
    h2 {
        font-size: $size-h2;
        color: $font-D;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1.5;
        margin-bottom: $m-S;
    }
    h3 {
        font-size: $size-h3;
        color: $font-D;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1.5;
        margin: $m-XXS 0;
    }
    h4 {
        font-size: $size-h4;
        color: $font-D;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1.5;
        margin-bottom: $m-XXS;
    }
    h5 {
        font-size: $size-h5;
        color: $font-W;
        line-height: 1.5;
    }
    p {
        font-size: $size-p;
        color: $text;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 1.8;
        font-weight: 500;
    }
    a {
        text-decoration: none !important;
        list-style: none !important;
    }
    .clearfix {
        clear: both;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
    section {
        width: 100%;
    }
    input {
        //placeholder
        &::placeholder,
        option {
            color: $gray-60;
            font-size: $size-h5;
        }
    }
}

@mixin btn() {
    padding: $p-XXS $p-S;
    background-color: $dark-blue;
    border-radius: 10px;
    border: none;
    &:hover {
        background-color: $hover;
        transition-duration: 0.5s;
    }
    @include mobile-L() {
        padding: $p-XXS $p-XS;
    }
    h3,
    h4,
    h5 {
        color: $font-W;
        margin-bottom: 0;
    }
}

@mixin navbar() {
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 999;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    @include pad() {
        display: unset;
        justify-content: unset;
    }
    .pc {
        width: 1140px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        @include web-S {
            width: 950px;
        }
        @include pad() {
            display: none;
        }
        .navbar-L {
            width: 25%;
            display: flex;
            align-items: center;
            h4 {
                font-size: $size-h4;
                color: $font-W;
                margin: 0;
                padding: 0;
                line-height: 80px;
            }
            .logo {
                object-fit: contain;
                height: 60px;
            }
        }
        .navbar-R {
            width: 75%;
            height: 100%;
            color: $font-W;
            display: flex;
            justify-content: flex-end;
            position: relative;
            h4 {
                font-size: $size-h4;
                color: $font-W;
                margin: 0;
                padding: 0;
                margin-right: 20px;
                line-height: 80px;
                display: inline;
            }
            .nav-function {
                position: relative;
                &:hover {
                    .nav-list {
                        display: block;
                        transition-duration: 0.5s;
                    }
                }
            }
            .nav-list {
                display: none;
                text-align: center;
                position: absolute;
                top: 80px;
                left: calc(50% - 90px);
                width: 160px;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.8);
                h4 {
                    margin: 0;
                    padding: 0;
                    line-height: 48px;
                }
            }
        }
    }
    .mobile {
        display: none;
        height: 60px;
        @include pad() {
            display: block;
            position: relative;
        }
        @include mobile-L() {
            height: 65px;
        }
        .menu {
            position: absolute;
            top: 0;
            left: 0px;
            display: flex;
            .fas.fa-bars {
                font-size: 30px;
                line-height: 60px;
                padding: 0 25px;
                color: $font-W;
                @include mobile-L() {
                    line-height: 65px;
                }
            }
            ul {
                display: inline-block;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.9);
                font-size: $size-h4;
                line-height: 60px;
                position: absolute;
                top: 60px;
                left: -100vw;
                margin: 0;
                padding: 40px 0;
                text-align: center;
                transition-duration: 0.7s;
                @include mobile-L() {
                    top: 65px;
                }
                .nav-item.dropdown {
                    .dropdown-menu {
                        background-color: $basic-blue;
                        color: $font-W;
                        text-align: center;
                        .dropdown-item {
                            padding: 15px 0;
                        }
                    }
                    .nav-link.dropdown-toggle {
                        padding: 5px 0;
                    }
                }
            }
            h4 {
                color: $light-sky;
            }
            a {
                color: $font-W;
                font-size: $size-h5;
            }
            .active-ul {
                display: inline-block;
                color: $basic-blue;
                transition-duration: 0.7s;
                top: 60px;
                left: 0;
                @include mobile-L() {
                    top: 65px;
                }

                li {
                    color: $basic-blue;
                }
            }
        }
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            @include mobile-L() {
                height: 65px;
            }
            h4 {
                font-size: $size-h4;
                color: $font-W;
                line-height: 60px;
                margin: 0;
            }
            img {
                height: 50px;
            }
        }
    }
}

@mixin notice() {
    width: 100%;
    padding: $p-L 0;
    background-color: rgba($color: $basic-blue, $alpha: 0.3);
    border-radius: 20px;
    text-align: center;
    @include web-S() {
        width: 90%;
        margin: auto;
    }
    @include pad() {
        width: 100%;
        padding: $p-S;
        h3 {
            font-size: $size-h4;
        }
    }
    @include mobile-L() {
        padding: $p-M $p-XS;
    }
    .btn {
        margin-top: $m-S;
        @include btn();
        @include mobile-L() {
            margin-top: $m-XS;
        }
    }
}

@mixin footer() {
    h4,
    p {
        color: $font-W;
    }
    .ft-top {
        width: 100%;
        background-color: rgba($color: $dark-blue, $alpha: 1);
        display: flex;
        justify-content: center;
        padding: $p-M 40px;
        @include pad {
            padding: $p-M;
        }
        .text-gp {
            width: 100%;
            max-width: 1140px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            @include mobile-L() {
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                width: 100%;
                margin-bottom: $m-XS;
            }

            .text-box {
                @include pad() {
                    width: 30%;
                    margin: 0;
                    margin-bottom: $m-XXS;
                }
                @include mobile-L() {
                    width: 100%;
                }
                h4 {
                    text-align: left;
                    margin-bottom: $m-XXS;
                    @include mobile-L() {
                        text-align: center;
                    }
                }
                p {
                    text-align: left;
                    @include mobile-L() {
                        text-align: center;
                    }
                }
            }
        }
    }
    .ft-bot {
        background-color: #22566c;
        display: flex;
        justify-content: center;
        padding: $p-XS 0;
        .copyright {
            width: 100%;
            max-width: 1140px;
            p {
                color: $font-W;
                text-align: center;
                @include mobile-L() {
                    font-size: 14px;
                }
            }
        }
    }
}

@mixin back-top() {
    width: 60px;
    height: 60px;
    z-index: 999;
    position: fixed;
    right: 40px;
    bottom: 30px;
    background-color: $basic-blue;
    border-radius: 50%;
    font-size: $size-h4;
    color: $font-W;
    line-height: 55px;
    text-align: center;
    @include web-S() {
        right: 25px;
        bottom: 25px;
    }
}

@mixin top-BN() {
    position: relative;
    object-fit: cover;
    object-position: center;
    .BN-text-gp {
        width: 80%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        h2,
        h3 {
            color: $font-W;
            margin-bottom: $m-XXS;
        }
    }
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }
}

@mixin function() {
    .explain-M {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $m-M;
        @include pad() {
            margin-bottom: unset;
        }
        .explain-img {
            width: 100%;
            img {
                border-radius: 30px;
                @include mobile-L() {
                    border-radius: 20px;
                }
            }
        }
        .text-gp {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: $m-S;
            .mg-XS {
                margin-bottom: $m-XXS;
            }
        }
        .text-box {
            margin: 0;
            margin-bottom: $m-XS;
            @include mobile-L() {
                margin-bottom: unset;
            }
        }
    }
    .explain-L {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // margin-bottom: $m-S;
        @include pad() {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    .explain-R {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        // margin-bottom: $m-S;
        @include pad() {
            flex-direction: column-reverse;
            margin-bottom: $m-XS;
        }
    }
    .explain-img {
        width: 50%;
        margin: unset;
        @include pad() {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .text-box {
        margin-top: $m-S;
        width: 40%;
        @include pad() {
            width: 100%;
            margin: auto;
            margin-top: $m-S;
        }
        @include mobile-L() {
            margin-top: unset;
        }
        .header {
            width: 100%;
            h2 {
                text-align: left;
            }
            h3 {
                margin-bottom: 5px;
                color: $dark-blue;
                @include pad() {
                    margin-bottom: 0;
                }
            }
            h4 {
                margin: 0;
                color: rgba($color: $dark-blue, $alpha: 0.6);
                @include pad() {
                    margin: 5px 0 0 0;
                }
            }
        }
        .body {
            padding-top: $p-XXS;
            p {
                font-size: $size-h4;
                text-align: justify;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: $m-XS;
            ul {
                width: 50%;
                text-align: left;
                list-style: none;
                padding: 0px;
                margin: 0px;
                font-size: $size-p;
                line-height: $size-p * 2;
                color: $dark-blue;
                @include mobile-XS() {
                    font-size: 14px;
                    line-height: 14px * 2;
                }
                i {
                    padding-right: 7px;
                    margin-bottom: $m-XXS;
                    color: $dark-blue;
                    font-size: 14px;
                    @include mobile-L() {
                        font-size: 12px;
                        padding-right: 3px;
                    }
                }
            }
        }
        .btn {
            @include btn();
        }
    }
}

@mixin flow($bg-color) {
    background-color: $bg-color;
    img {
        width: 95%;
        border-radius: 30px;
        @include mobile-L() {
            border-radius: 20px;
        }
    }
}

@mixin Allicon() {
    .Allicon-gp {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .Allicon {
            width: 25%;
            text-align: center;
            padding: 0 $p-XS;
            margin-bottom: $m-S;

            @include pad() {
                width: 50%;
                padding: 0 $p-XXS;
            }
            @include mobile-L() {
                width: 100%;
                margin: auto;
                margin-bottom: $m-S;
            }
            img {
                width: 150px;
                height: 150px;
                object-fit: contain;
                object-position: center;
                margin: $m-XXS 0;
            }
            p {
                text-align: center;
            }
        }
    }
}

@mixin link-gp() {
    display: flex;
    justify-content: center;
    padding: $p-S 0 0 0;
    @include pad() {
        flex-wrap: wrap;
        padding: $p-XS 0 0 0;
    }
    .link {
        width: 48%;
        display: flex;
        flex-direction: column;
        margin: 0 $m-XS;
        @include pad() {
            width: 100%;
        }
        h3 {
            text-align: center;
            margin-top: $m-XXS;
        }
        img {
            width: 100%;
        }
    }
}

@mixin table() {
    margin-bottom: $m-S;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px !important;
    border: solid 1px $basic-blue;
    background-color: #fff;
    word-break: break-word;
    width: 100%;
    display: flex;
    flex-direction: column;
    thead{
        width: 100%;
    }
    tbody{
        width: 100%;
    }
    tr {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: stretch;
        th {
            width: 20%;
            font-size: $size-h4;
            color: $font-D;
            padding: $p-XXS;
            font-weight: bold;
            background-color: $table-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            @include pad{
                font-size: $size-h5;
            }
        }
        td {
            width: 25%;
            padding: $m-XS 0;
            font-size: $size-h5;
            color: $text;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .text-gp {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                margin-bottom: $m-XXS;
                img {
                    width: 150px;
                    margin-bottom: $m-XXS;
                    @include pad {
                        width: 80px;
                    }
                }
                span {
                    font-size: $size-h4;
                    color: $font-D;
                    font-weight: bold;
                    @include pad{
                        font-size: $size-p;
                    }
                }
            }
            h4 {
                margin: 0;
            }
        }
    }
}

@mixin form() {
    background-color: $table-blue;
    padding: $p-L 0;
    margin-top: $m-S;
    border-radius: 20px;
    @include pad() {
        padding: $p-S 0;
    }
    @include mobile-L() {
        border-radius: unset;
    }
    form {
        .form-gp {
            max-width: 800px;
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: $m-S;
            }
            @include pad() {
                padding: 0 $p-S;
                max-width: unset;
                flex-wrap: wrap;
            }
            @include mobile-L() {
                padding: 0 $p-XS;
                max-width: unset;
                justify-content: space-between;
            }
            label {
                width: 15%;
                text-align: right;
                margin: 0;
                margin-right: $m-XS;
                color: $dark-blue;
                font-size: $size-h4;
                font-weight: bold;

                @include pad() {
                    width: 100%;
                    text-align: left;
                }
                @include mobile-L(){
                    margin-right: 0;
                    margin-bottom: $m-XXS;
                    width: 100%;
                }
            }
            input,
            select {
                background-color: #fff;
                width: 75%;
                height: 44px;
                border-radius: 5px;
                border: 1px solid $light-sky;
                padding: 0 $p-XXS;
                color: $text;
                font-size: $size-h5;
                line-height: $size-h5;
                @include pad() {
                    width: 100%;
                }
                &[type="submit"],
                &[type="button"],
                &[type="reset"] {
                    height: 44px;
                    width: unset;
                    background-color: $dark-blue;
                    color: $font-W;
                    font-size: $size-h5;
                    line-height: 1.5;
                    border: none;
                    border-radius: 10px;
                    padding: 0 $p-S;
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;
                    @include mobile-L(){
                        width: 47%;
                    }
                }
                &:not(:last-child) {
                    margin-right: $m-XS;
                }
            }
            textarea {
                width: 75%;
                border-radius: 5px;
                border: 1px solid $light-sky;
                padding: 0 $p-XXS;
                color: $text;
                font-size: $size-h5;
                line-height: $size-h5;
                @include pad() {
                    width: 100%;
                }
            }
            input:focus,
            select:focus,
            option:focus,
            textarea:focus {
                outline: 1px solid $basic-blue;
            }
        }
    }
}

@mixin collapse() {
    padding: 0 $p-M;
    @include pad() {
        padding: 0;
    }
    .collapsible {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        padding: $p-XXS $p-XS;
        margin-bottom: $m-XS;
        border: none;
        background-color: $table-blue;
        text-align: left;
        outline: none;
        font-size: $size-h5;
        color: $font-D;
        font-weight: bold;
        @include mobile-XS() {
            font-size: $size-h5;
        }
    }
    .collapsible:after {
        content: "\002B";
        color: $font-D;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        content: "\2212";
    }
    .content {
        padding: 0 $p-XS;
        margin-bottom: $m-XXS;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        @include mobile-XS() {
            margin-bottom: $m-XXS;
        }
        p {
            text-align: left;
            font-size: $size-p;
            color: $text;
            line-height: $size-p * 2;
            margin-bottom: $m-XXS * 2;
            @include mobile-XS() {
                font-size: $size-p;
                line-height: $size-p * 2;
            }
        }
        ul,
        li {
            list-style: none;
            font-size: $size-h5;
            color: $text;
            @include mobile-XS() {
                font-size: $size-p;
            }
        }
    }
}
