@import "./guideline";
@import "./mixin";
// 通用
* {
    @include all();
}
html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
    body {
        width: 100%;
        margin: 0;
        padding: 0 !important;
        overflow-x: hidden;
        font-size: 1rem;
        background-color: white !important;
        @include mobile-L() {
            font-size: 0.875rem;
        }
        .icon p {
            text-align: center;
        }
        // 組件
        @include breadcrumb;
        @include navbar();
        @include footer();
        @include fastlink();
        @include back-top();
        @include top-BN();
        @include collapse;
        @include form();
        @include table();
        @include searchbar();

        /* Loaders */
        .loader {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            position: fixed;
            z-index: 1000;
        }
        .line-spin-fade-loader {
            position: fixed;
            z-index: 1000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .line-spin-fade-loader > div {
            background-color: #fff;
        }
        .loader-inner {
            margin: 30px;
        }
        .d-none {
            display: none;
        }

        // Banner
        .swiper-container {
            width: 100%;
            height: 100vh;
            @include web-S() {
                height: 45vh;
            }
            @include pad() {
                height: 60vh;
            }
            .swiper-button-next,
            .swiper-button-prev {
                @include mobile-L() {
                    display: none;
                }
            }
            .swiper-slide {
                position: relative;
                text-align: center;
                font-size: 18px;
                background: white;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                h2,
                p {
                    color: white;
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }
                img,
                picture {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .BN1 {
                    @include pad() {
                        object-position: 80%;
                    }
                }
                .BN2 {
                    @include pad() {
                        object-position: 80%;
                    }
                }
                .BN3 {
                    @include pad() {
                        object-position: 15%;
                    }
                }
                .BN-text-gp {
                    position: absolute;
                    h2 {
                        font-size: $size-h1;
                        margin-bottom: 0;
                        @include mobile-XS() {
                            font-size: $size-h3;
                        }
                    }
                    p {
                        font-size: $size-h4;
                        font-weight: bold;
                        @include mobile-XS() {
                            font-size: $size-h5;
                            padding: 0 $p-XS;
                        }
                    }
                }
                #BN-title1 {
                    top: 18%;
                    @include pad() {
                        top: 45%;
                        margin: auto;
                    }
                }
                #BN-title2 {
                    top: 45%;
                    right: 15%;
                    @include pad() {
                        top: 45%;
                        right: unset;
                        margin: auto;
                    }
                }
                #BN-title3 {
                    top: 45%;
                    left: 13%;
                    @include pad() {
                        top: 45%;
                        left: unset;
                        margin: auto;
                    }
                }
            }
        }
        // 你有以下困擾嗎
        .content-torment {
            .icon-gp {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .icon {
                    width: 33.3%;
                    justify-content: center;
                    flex-wrap: wrap;
                    text-align: center;
                    margin-bottom: $m-S;
                    @include pad() {
                        width: 50%;
                        padding: 0 $p-XXS;
                    }
                    @include mobile-L() {
                        width: 100%;
                        margin-bottom: $m-S;
                    }
                    img {
                        margin: $m-XS 0;
                        width: 200px;
                        height: 200px;
                        @include mobile-L {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }
        }
        // 什麼是Class365
        .content-whats365 {
            background-color: $primary-table;
            background-image: url(../img/cloud.png);
            background-position: left 100%;
            background-repeat: no-repeat;
            p {
                text-align: center;
            }
        }
        // 功能介紹
        .content-module {
            .container {
                padding: $p-2L 0;
                @include mobile-L {
                    padding: $p-L 0;
                }
                .explain-L {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: $m-2L;
                    }
                    @include pad {
                        padding: 0 $p-L;
                    }
                    @include mobile-L() {
                        flex-wrap: wrap;
                        flex-direction: column;
                    }
                }
                .explain-R {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row-reverse;
                    align-items: center;
                    margin-bottom: $m-2L;
                    @include pad {
                        padding: 0 $p-L;
                    }
                    @include mobile-L() {
                        flex-direction: column;
                    }
                }
                .explain-img {
                    width: 45%;
                    @include pad() {
                        width: 45%;
                        margin: auto;
                    }
                    @include mobile-L {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 600px;
                    }
                }
                .text-box {
                    width: 40%;
                    text-align: center;
                    @include pad() {
                        width: 55%;
                        margin: auto;
                        margin-top: $m-S;
                        margin-bottom: $m-M;
                        padding: 0 $p-S;
                    }
                    @include mobile-L() {
                        width: 100%;
                        margin-top: $m-XS;
                        margin-bottom: $m-S;
                        padding: 0;
                    }
                    h2 {
                        @include mobile-L {
                            margin-bottom: $m-M;
                        }
                    }
                    .text-gp {
                        margin-bottom: $m-S;
                        p,
                        h3 {
                            text-align: left;
                        }
                    }
                    .btn {
                        @include btn();
                        margin-top: $m-XS;
                    }
                    h3 {
                        text-align: left;
                    }
                }
            }
        }
        // 功能介紹
        .content-function {
            @include function();
            .container {
                padding-bottom: 0;
            }
            h2 {
                margin-bottom: 0;
            }
        }
        // 流程圖
        .content-flow-attendance {
            @include flow($secondary);
        }
        .content-flow-money {
            @include flow($complementary);
        }
        // 其他功能
        .content-other {
            padding: $p-2L 0;
            @include mobile-L {
                padding: $p-M 0;
            }
            h2 {
                margin-bottom: $m-M;
                @include pad() {
                    padding: 0 $p-S;
                    line-height: 62px;
                }
            }
            .link-gp {
                @include link-gp();
                h2 {
                    margin-top: $m-XS;
                }
            }
        }
        // 文章專欄
        .content-article {
            .container {
                padding: $p-L $p-S;
                display: flex;
                flex-wrap: wrap;
                h2 {
                    width: 100%;
                }
                .breadcrumb {
                    .container {
                        padding: 0;
                    }
                }
                .block-gp {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-top: $m-M;
                    .block {
                        margin-bottom: $m-S;
                        width: 24%;
                        border: solid 1px $bk-20;
                        border-radius: 12px;
                        @include mobile-L {
                            width: 100%;
                            margin-bottom: $p-S;
                        }
                        &:hover {
                            box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
                            transition: 0.3s;
                            transform: translate(0px, -3px);
                        }
                        a {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                aspect-ratio: 16 / 9;
                                object-fit: cover;
                                border-radius: 12px 12px 0 0;
                            }
                            .content {
                                padding: $p-S;
                                background-color: white;
                                border-radius: 0 0 12px 12px;
                                @include web-S {
                                    padding: $m-S;
                                }
                                .date {
                                    color: $primary-default;
                                    font-weight: bold;
                                    width: 100%;
                                    text-align: left;
                                    display: block;
                                }
                                .title {
                                    font-size: $size-h4;
                                    color: $font-D;
                                    line-height: 1.5;
                                    font-weight: bold;
                                    margin: $p-XS 0;
                                    @include web-S {
                                        margin: $m-XS 0;
                                    }
                                    @include mobile-L {
                                        margin: $p-XS 0;
                                    }
                                }
                                p {
                                    line-height: 1.5;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        // 文章內容
        .content-article-content {
            padding-top: 80px;
            @include mobile-L{
                padding-top: 60px;
            }
            .container {
                padding: $p-L $p-S;
                display: flex;
                flex-wrap: wrap;
                h2 {
                    width: 100%;
                }
                .breadcrumb {
                    .container {
                        padding: 0;
                    }
                }
                .content-header {
                    max-width: 800px;
                    width: 100%;
                    margin: auto;
                    margin-top: $m-XS;
                    margin-bottom: $m-M;
                    img {
                        width: 100%;
                        aspect-ratio: 16 / 9;
                        border-radius: 12px;
                    }
                    .text-gp {
                        width: 100%;
                        margin-bottom: $m-M;
                        text-align: left;
                        h2 {
                            text-align: left;
                            width: 100%;
                            margin-bottom: $p-XXS;
                        }
                        i {
                            margin-right: $p-XXS;
                            color: #cccccc;
                        }
                        span {
                            margin-right: $p-XS;
                            color: $text;
                        }
                        a {
                            color: $primary-default;
                            font-weight: bold;
                        }
                    }
                }
                .content-body {
                    margin: auto;
                    max-width: 800px;
                    .text-gp {
                        margin-bottom: $m-M;
                        img {
                            width: 100%;
                            aspect-ratio: 16 / 9;
                            border-radius: 12px;
                            margin: $p-XS 0;
                        }
                        h3 {
                            width: 100%;
                            text-align: left;
                        }
                        ul{
                            padding: 0;
                            list-style-position: inside;
                            li{
                                width: 100%;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        //收費方式
        .content-howmuch {
            .explain {
                background-color: white;
                p {
                    text-align: center;
                }
            }
            .notice {
                color: $primary-dark;
                font-weight: bold;
            }
            .plan {
                background-color: $primary-default;
                .container {
                    @include web-XL {
                        padding: $p-L $p-2L;
                    }
                    @include web-S {
                        padding: $p-M $p-L;
                    }
                    @include pad {
                        padding: $p-M;
                    }
                    .planbox {
                        width: 100%;
                        border-radius: 20px;
                        margin-bottom: $m-S;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        table {
                            width: 30%;
                            @include mobile-L {
                                width: 100%;
                                &:not(:last-of-type) {
                                    margin-bottom: $m-M;
                                }
                            }
                            thead {
                                background-color: white;
                                tr:nth-child(1) {
                                    // background-color: rgba($color: $primary-table, $alpha: 1);
                                    font-size: $size-h4;
                                    th {
                                        border-radius: 16px 16px 0 0;
                                        border: none;
                                        outline: 1px solid $primary-tint;
                                    }
                                }
                                .function-icon th {
                                    padding: $p-M;
                                }
                                tr:not(:first-of-type) {
                                    border-right: 1px solid $primary-tint;
                                    border-left: 1px solid $primary-tint;
                                }
                                img {
                                    width: 170px;
                                    height: 170px;
                                    margin: 0;
                                    @include pad {
                                        width: 130px;
                                        height: 130px;
                                    }
                                    @include mobile-L {
                                        width: 150px;
                                        height: 150px;
                                    }
                                }
                            }
                            tbody {
                                tr:nth-last-of-type(1) td {
                                    border-radius: 0 0 0 16px;
                                    border-top: 1px solid $primary-tint;
                                    &:nth-child(2) {
                                        border-radius: 0 0 16px 0;
                                    }
                                }
                                tr:not(:nth-last-of-type(1)) {
                                    border-top: 1px solid $primary-tint;
                                    background-color: white;
                                }
                                td:nth-child(odd) {
                                    border-right: 1px solid $primary-tint;
                                }
                                tr:last-child td {
                                    background-color: white;
                                }
                                tr:nth-child(odd) td {
                                    background-color: rgba($color: $primary-table, $alpha: 0.6);
                                }
                            }
                            p {
                                text-align: center;
                                font-weight: bold;
                                margin-top: $m-XS;
                                font-size: $size-h5;
                                color: black;
                                line-height: 1;
                            }
                        }
                        .unit {
                            width: 100%;
                            text-align: right;
                            color: $font-D;
                            font-weight: bold;
                            @include mobile-L {
                                text-align: center;
                            }
                            i {
                                color: $font-D;
                                margin-right: $p-XXS;
                                margin-top: $p-S;
                            }
                            a {
                                color: #0d6efd;
                            }
                        }
                    }
                }
            }
        }
        //聯絡我們
        .content-form {
            .container {
                @include mobile-L() {
                    width: 100%;
                    margin: unset;
                }
                //圖片驗證碼
                .code-gp {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: $m-XS;
                    @include pad {
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: start;
                    }
                    @include mobile-XS() {
                        margin-bottom: $m-XS;
                    }
                    label {
                        width: 15%;
                        @include pad() {
                            width: 100%;
                        }
                    }
                    .text-gp {
                        width: 75%;
                        display: flex;
                        align-items: center;
                        @include mobile-L() {
                            width: 100%;
                        }
                        .code {
                            width: 35%;
                            margin-right: 10px;
                            margin-bottom: 0;
                            @include pad {
                                width: 60%;
                            }
                            @include mobile-L {
                                width: 60%;
                            }
                            @include mobile-XS() {
                                width: 50%;
                                margin-right: 0;
                            }
                        }
                        .RP {
                            height: 100%;
                            height: 27px;
                            margin: 0;
                            margin-right: 10px;
                            @include mobile-L() {
                                max-height: unset;
                            }
                            @include mobile-XS() {
                                margin-left: $m-XS;
                            }
                        }
                        .reform {
                            height: 20px;
                            width: 20px;
                            margin: 0;
                        }
                    }
                }
            }
        }
        //聯絡我們icon
        // .content-icon {
        //     .icon-gp {
        //         padding: 0 0 $p-S 0;
        //         display: flex;
        //         justify-content: space-between;
        //         text-align: center;
        //         flex-wrap: wrap;
        //         @include mobile-L() {
        //             padding: $p-XS 0 $p-XS 0;
        //         }
        //         .icon {
        //             width: 50%;
        //             margin-bottom: $m-S;
        //             @include mobile-L() {
        //                 width: 100%;
        //             }
        //             img {
        //                 height: 100px;
        //                 margin-bottom: $m-XS;
        //             }
        //             .title {
        //                 font-size: $size-h3;
        //                 font-weight: bold;
        //             }
        //         }
        //     }
        // }
        // 聯絡我們-成功
        .content-form-success {
            padding-top: 80px;
            @include pad() {
                padding-top: 60px;
            }
            .container {
                padding: $p-M;
                height: calc(100vh - 269px);
                text-align: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                @include pad() {
                    height: calc(100vh - 249px);
                }
                @include mobile-L() {
                    padding: $p-S;
                    height: 60vh;
                }
                h2 {
                    margin-bottom: $m-XXS;
                }
                p {
                    text-align: center;
                }
                img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: $m-S;
                }
                .btn {
                    margin: $m-S 0;
                }
            }
        }
    }
}
