@import "./guideline";
@import "./mixin";
// 通用
* {
    @include all();
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    // 導覽列
    .navbar {
        @include navbar();
    }
    // Banner
    .swiper-container {
        width: 100%;
        height: 100vh;
        @include web-S() {
            height: 80vh;
        }
        .swiper-slide {
            position: relative;
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            h2,
            h4 {
                color: $font-color-title-L;
                text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .BN1 {
                @include pad() {
                    object-position: 80%;
                }
            }
            .BN2 {
                @include pad() {
                    object-position: 80%;
                }
            }
            .BN3 {
                @include pad() {
                    object-position: 15%;
                }
            }
            .BN-text-gp {
                position: absolute;
            }
            #BN-title1 {
                top: 18%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
            #BN-title2 {
                top: 45%;
                right: 15%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
            #BN-title3 {
                top: 45%;
                left: 13%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
        }
    }
    // 你有以下困擾嗎
    .content-torment {
        .icon-gp {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .icon {
                width: 33.3%;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                margin-bottom: $margin-M;
                @include pad() {
                    width: 50%;
                    padding: 0 $padding-XXS;
                }
                @include mobile-L() {
                    width: 100%;
                    margin: auto;
                    margin-bottom: $margin-M;
                }
                img {
                    margin: $margin-XS 0;
                }
            }
        }
    }
    // 什麼是Class365
    .content-whats365 {
        background-color: $light-gray;
        background-image: url(../img/cloud.png);
        background-position: left 100%;
        background-repeat: no-repeat;
    }
    // 模組介紹
    .content-module {
        .explain-L {
            width: 100%;
            display: flex;
            justify-content: space-around;
            @include pad() {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
        .explain-R {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: row-reverse;
            @include pad() {
                flex-direction: column;
            }
        }
        .explain-img {
            width: 45%;
            @include pad() {
                width: 80%;
                margin: auto;
            }
            img {
                width: 100%;
            }
        }
        .text-box {
            width: 40%;
            text-align: center;
            margin-bottom: $margin-XL;
            @include pad() {
                width: 80%;
                margin: auto;
                margin-top: $margin-M;
                margin-bottom: $margin-L;
            }
            @include mobile-L() {
                margin-top: $margin-S;
                margin-bottom: $margin-L;
            }
            .text-gp {
                text-align-last: left;
                margin-bottom: $margin-S;
            }
            .btn {
                @include btn();
            }
        }
    }
    // 我們的客戶
    .content-client {
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            padding-bottom: $padding-M;
        }
    }
    // 好評推薦
    .content-recommend {
        background-color: $basic-blue;
        h3 {
            color: $font-color-title-L;
        }
        .img-gp {
            .talk-L {
                float: left;
            }
            .talk-R {
                float: right;
            }
            img {
                object-fit: cover;
                object-position: center;
                margin: $margin-S 0;
                @include pad() {
                    width: 100%;
                }
            }
        }
    }
    // 聯絡我們
    .content-contactus {
        .notice {
            @include notice();
        }
    }
    // 頁尾
    footer {
        @include footer();
    }
    .back-top {
        @include back-top();
    }

    // 人事模組
    .top-BN {
        @include top-BN();
    }
    .content-function {
        .explain-M {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: $margin-L;
            .explain-img {
                width: 100%;
            }
            .text-gp {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        .explain-L {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: $margin-L;
            @include pad() {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
        .explain-R {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: row-reverse;
            @include pad() {
                flex-direction: column;
            }
        }
        .explain-img {
            width: 45%;
            @include pad() {
                width: 80%;
                margin: auto;
            }
            img {
                width: 100%;
            }
        }
        .text-box {
            width: 40%;
            text-align: center;
            margin-bottom: $margin-XL;

            @include pad() {
                width: 80%;
                margin: auto;
                margin-top: $margin-M;
                margin-bottom: $margin-L;
            }
            @include mobile-L() {
                margin-top: $margin-S;
                margin-bottom: $margin-L;
            }
            .text-gp {
                text-align-last: left;
                margin-bottom: $margin-S;
            }
            .btn {
                @include btn();
            }
            h3 {
                margin-bottom: $margin-M;
            }
        }
    }
    // 流程圖
    .content-flow {
        // @include flow($basic-blue);
        background-color: $basic-blue;
        img {
            width: 100%;
            border-radius: 30px;
        }
    }
    // 所有功能
    .content-Allicon {
        .Allicon-gp {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .Allicon {
                width: 25%;
                text-align: center;
                padding: 0 $padding-XS;
                margin-bottom: $margin-M;

                @include pad() {
                    width: 50%;
                    padding: 0 $padding-XXS;
                }
                @include mobile-L() {
                    width: 100%;
                    margin: auto;
                    margin-bottom: $margin-M;
                }
                img {
                    width: 170px;
                    height: 170px;
                    // background-color: $basic-blue;
                    object-fit: contain;
                    object-position: center;
                    margin: $margin-XS 0;
                }
                // .icon {
                //     margin: auto;
                //     width: 170px;
                //     height: 170px;
                //     border-radius: 50%;
                //     background-color: $basic-blue;
                //     background-image: url(../img/HR-icon1.png);
                //     background-size: 40%;
                //     background-position: center;
                //     background-repeat: no-repeat;
                //     margin-bottom: $margin-S;
                // }
            }
        }
    }
}
