@charset "UTF-8";
* {
  font-family: "微軟正黑體";
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

* .container {
  width: 1140px;
  margin: auto;
  padding: 120px 0;
}

@media (max-width: 768px) {
  * .container {
    width: 80%;
    padding: 100px 0;
  }
}

@media (max-width: 568px) {
  * .container {
    padding: 60px 0;
  }
}

* h2 {
  font-size: 48px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  line-height: 48px;
}

* h3 {
  font-size: 30px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  line-height: 45px;
}

* h4 {
  font-size: 24px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

* h5 {
  font-size: 20px;
  color: white;
}

* p {
  font-size: 16px;
  color: #727171;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 32px;
  font-weight: 500;
}

* a {
  text-decoration: none !important;
  list-style: none !important;
}

* .clearfix {
  clear: both;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-weight: bold;
}

* section {
  width: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html .navbar,
body .navbar {
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 999;
  background-color: #2b5f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  html .navbar,
  body .navbar {
    display: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

html .navbar .pc,
body .navbar .pc {
  width: 1140px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  html .navbar .pc,
  body .navbar .pc {
    display: none;
  }
}

html .navbar .pc .navbar-L,
body .navbar .pc .navbar-L {
  width: 25%;
  height: 100%;
}

html .navbar .pc .navbar-L h4,
body .navbar .pc .navbar-L h4 {
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 80px;
}

html .navbar .pc .navbar-R,
body .navbar .pc .navbar-R {
  width: 75%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

html .navbar .pc .navbar-R h4,
body .navbar .pc .navbar-R h4 {
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  line-height: 80px;
  display: inline;
}

html .navbar .pc .navbar-R .nav-function,
body .navbar .pc .navbar-R .nav-function {
  position: relative;
}

html .navbar .pc .navbar-R .nav-function:hover .nav-list,
body .navbar .pc .navbar-R .nav-function:hover .nav-list {
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html .navbar .pc .navbar-R .nav-list,
body .navbar .pc .navbar-R .nav-list {
  display: none;
  text-align: center;
  position: absolute;
  top: 80px;
  left: -30px;
  width: 160px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

html .navbar .pc .navbar-R .nav-list h4,
body .navbar .pc .navbar-R .nav-list h4 {
  margin: 0;
  padding: 0;
  line-height: 48px;
}

html .navbar .mobile,
body .navbar .mobile {
  display: none;
  height: 60px;
}

@media (max-width: 768px) {
  html .navbar .mobile,
  body .navbar .mobile {
    display: block;
    position: relative;
  }
}

html .navbar .mobile .menu,
body .navbar .mobile .menu {
  position: absolute;
  top: 0;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .navbar .mobile .menu .fas.fa-bars,
body .navbar .mobile .menu .fas.fa-bars {
  font-size: 30px;
  line-height: 60px;
  padding: 0 30px;
  color: white;
}

html .navbar .mobile .menu ul,
body .navbar .mobile .menu ul {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  line-height: 60px;
  position: absolute;
  top: 60px;
  left: -100vw;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

html .navbar .mobile .menu h4,
body .navbar .mobile .menu h4 {
  color: #a5dee4;
}

html .navbar .mobile .menu a,
body .navbar .mobile .menu a {
  color: white;
}

html .navbar .mobile .menu:hover ul,
body .navbar .mobile .menu:hover ul {
  display: inline-block;
  color: #7db9de;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  top: 60px;
  left: 0;
}

html .navbar .mobile .menu:hover li:hover,
body .navbar .mobile .menu:hover li:hover {
  color: #7db9de;
}

html .navbar .mobile .title,
body .navbar .mobile .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .navbar .mobile .title h4,
body .navbar .mobile .title h4 {
  font-size: 24px;
  color: white;
  line-height: 60px;
  margin: 0;
}

html .swiper-container,
body .swiper-container {
  width: 100%;
  height: 100vh;
}

@media (max-width: 1024px) {
  html .swiper-container,
  body .swiper-container {
    height: 80vh;
  }
}

html .swiper-container .swiper-slide,
body .swiper-container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html .swiper-container .swiper-slide h2,
html .swiper-container .swiper-slide h4,
body .swiper-container .swiper-slide h2,
body .swiper-container .swiper-slide h4 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

html .swiper-container .swiper-slide img,
body .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide .BN1,
  body .swiper-container .swiper-slide .BN1 {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide .BN2,
  body .swiper-container .swiper-slide .BN2 {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide .BN3,
  body .swiper-container .swiper-slide .BN3 {
    -o-object-position: 15%;
       object-position: 15%;
  }
}

html .swiper-container .swiper-slide .BN-text-gp,
body .swiper-container .swiper-slide .BN-text-gp {
  position: absolute;
}

html .swiper-container .swiper-slide #BN-title1,
body .swiper-container .swiper-slide #BN-title1 {
  top: 18%;
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide #BN-title1,
  body .swiper-container .swiper-slide #BN-title1 {
    top: 45%;
    margin: auto;
  }
}

html .swiper-container .swiper-slide #BN-title2,
body .swiper-container .swiper-slide #BN-title2 {
  top: 45%;
  right: 15%;
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide #BN-title2,
  body .swiper-container .swiper-slide #BN-title2 {
    top: 45%;
    margin: auto;
  }
}

html .swiper-container .swiper-slide #BN-title3,
body .swiper-container .swiper-slide #BN-title3 {
  top: 45%;
  left: 13%;
}

@media (max-width: 768px) {
  html .swiper-container .swiper-slide #BN-title3,
  body .swiper-container .swiper-slide #BN-title3 {
    top: 45%;
    margin: auto;
  }
}

html .content-torment .icon-gp,
body .content-torment .icon-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html .content-torment .icon-gp .icon,
body .content-torment .icon-gp .icon {
  width: 33.3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  html .content-torment .icon-gp .icon,
  body .content-torment .icon-gp .icon {
    width: 50%;
    padding: 0 10px;
  }
}

@media (max-width: 568px) {
  html .content-torment .icon-gp .icon,
  body .content-torment .icon-gp .icon {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
}

html .content-torment .icon-gp .icon img,
body .content-torment .icon-gp .icon img {
  margin: 10px 0;
}

html .content-whats365,
body .content-whats365 {
  background-color: #eeefef;
  background-image: url(../img/cloud.png);
  background-position: left 100%;
  background-repeat: no-repeat;
}

html .content-module .explain-L,
body .content-module .explain-L {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  html .content-module .explain-L,
  body .content-module .explain-L {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html .content-module .explain-R,
body .content-module .explain-R {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  html .content-module .explain-R,
  body .content-module .explain-R {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html .content-module .explain-img,
body .content-module .explain-img {
  width: 45%;
}

@media (max-width: 768px) {
  html .content-module .explain-img,
  body .content-module .explain-img {
    width: 80%;
    margin: auto;
  }
}

html .content-module .explain-img img,
body .content-module .explain-img img {
  width: 100%;
}

html .content-module .text-box,
body .content-module .text-box {
  width: 40%;
  text-align: center;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  html .content-module .text-box,
  body .content-module .text-box {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media (max-width: 568px) {
  html .content-module .text-box,
  body .content-module .text-box {
    margin-top: 25px;
    margin-bottom: 80px;
  }
}

html .content-module .text-box .text-gp,
body .content-module .text-box .text-gp {
  text-align-last: left;
  margin-bottom: 25px;
}

html .content-module .text-box .btn,
body .content-module .text-box .btn {
  padding: 0 30px;
  background-color: #2b5f75;
  border-radius: 10px;
  border: none;
}

html .content-module .text-box .btn h4,
body .content-module .text-box .btn h4 {
  font-size: 24px;
  color: white;
  font-family: "微軟正黑體";
  font-weight: bold;
}

html .content-module .text-box .btn:hover,
body .content-module .text-box .btn:hover {
  background-color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html .content-client img,
body .content-client img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding-bottom: 100px;
}

html .content-recommend,
body .content-recommend {
  background-color: #7db9de;
}

html .content-recommend h3,
body .content-recommend h3 {
  color: white;
}

html .content-recommend .img-gp .talk-L,
body .content-recommend .img-gp .talk-L {
  float: left;
}

html .content-recommend .img-gp .talk-R,
body .content-recommend .img-gp .talk-R {
  float: right;
}

html .content-recommend .img-gp img,
body .content-recommend .img-gp img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 25px 0;
}

@media (max-width: 768px) {
  html .content-recommend .img-gp img,
  body .content-recommend .img-gp img {
    width: 100%;
  }
}

html .content-contactus .notice,
body .content-contactus .notice {
  width: 100%;
  padding: 100px;
  background-color: #eeefef;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  html .content-contactus .notice,
  body .content-contactus .notice {
    padding: 60px;
  }
  html .content-contactus .notice h3,
  body .content-contactus .notice h3 {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  html .content-contactus .notice,
  body .content-contactus .notice {
    padding: 60px 30px;
  }
}

html .content-contactus .notice .btn,
body .content-contactus .notice .btn {
  padding: 0 30px;
  background-color: #2b5f75;
  border-radius: 10px;
  border: none;
}

html .content-contactus .notice .btn h4,
body .content-contactus .notice .btn h4 {
  font-size: 24px;
  color: white;
  font-family: "微軟正黑體";
  font-weight: bold;
}

html .content-contactus .notice .btn:hover,
body .content-contactus .notice .btn:hover {
  background-color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html footer h4,
html footer p,
body footer h4,
body footer p {
  color: white;
}

html footer .ft-top,
body footer .ft-top {
  width: 100%;
  background-color: #2b5f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 40px;
}

html footer .ft-top .text-gp,
body footer .ft-top .text-gp {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 568px) {
  html footer .ft-top .text-gp,
  body footer .ft-top .text-gp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
}

html footer .ft-top .text-gp .text-box,
body footer .ft-top .text-gp .text-box {
  display: inline-block;
  text-align-last: left;
  margin: 0 10px;
}

@media (max-width: 768px) {
  html footer .ft-top .text-gp .text-box,
  body footer .ft-top .text-gp .text-box {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 568px) {
  html footer .ft-top .text-gp .text-box,
  body footer .ft-top .text-gp .text-box {
    text-align-last: center;
  }
}

html footer .ft-bot,
body footer .ft-bot {
  background-color: #a5dee4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

html footer .ft-bot .copyright,
body footer .ft-bot .copyright {
  width: 100%;
  max-width: 1140px;
}

html footer .ft-bot .copyright p,
body footer .ft-bot .copyright p {
  color: #2b5f75;
  font-weight: bold;
}

@media (max-width: 568px) {
  html footer .ft-bot .copyright p,
  body footer .ft-bot .copyright p {
    font-size: 14px;
  }
}

html .back-top,
body .back-top {
  width: 60px;
  height: 60px;
  z-index: 999;
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 24px;
  color: #727171;
  line-height: 55px;
  text-align: center;
}

@media (max-width: 1024px) {
  html .back-top,
  body .back-top {
    right: 25px;
    bottom: 25px;
  }
}

html .top-BN,
body .top-BN {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

html .top-BN .BN-text-gp,
body .top-BN .BN-text-gp {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

html .top-BN .BN-text-gp h2,
html .top-BN .BN-text-gp h4,
body .top-BN .BN-text-gp h2,
body .top-BN .BN-text-gp h4 {
  color: white;
  margin-bottom: 10px;
}

html .content-function .explain-M,
body .content-function .explain-M {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  html .content-function .explain-M,
  body .content-function .explain-M {
    margin-bottom: 25px;
  }
}

html .content-function .explain-M .explain-img,
body .content-function .explain-M .explain-img {
  width: 100%;
}

html .content-function .explain-M .text-gp,
body .content-function .explain-M .text-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}

html .content-function .explain-L,
body .content-function .explain-L {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  html .content-function .explain-L,
  body .content-function .explain-L {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 25px;
  }
}

html .content-function .explain-R,
body .content-function .explain-R {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  html .content-function .explain-R,
  body .content-function .explain-R {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 25px;
  }
}

html .content-function .explain-img,
body .content-function .explain-img {
  width: 45%;
}

@media (max-width: 768px) {
  html .content-function .explain-img,
  body .content-function .explain-img {
    width: 80%;
    margin: auto;
  }
}

html .content-function .explain-img img,
body .content-function .explain-img img {
  width: 100%;
}

html .content-function .text-box,
body .content-function .text-box {
  width: 40%;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  html .content-function .text-box,
  body .content-function .text-box {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 568px) {
  html .content-function .text-box,
  body .content-function .text-box {
    margin-top: 25px;
  }
}

html .content-function .text-box .text-gp,
body .content-function .text-box .text-gp {
  text-align-last: left;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  html .content-function .text-box .text-gp,
  body .content-function .text-box .text-gp {
    text-align-last: center;
  }
}

html .content-function .text-box .btn,
body .content-function .text-box .btn {
  padding: 0 30px;
  background-color: #2b5f75;
  border-radius: 10px;
  border: none;
}

html .content-function .text-box .btn h4,
body .content-function .text-box .btn h4 {
  font-size: 24px;
  color: white;
  font-family: "微軟正黑體";
  font-weight: bold;
}

html .content-function .text-box .btn:hover,
body .content-function .text-box .btn:hover {
  background-color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html .content-function .text-box h3,
body .content-function .text-box h3 {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  html .content-function .text-box h3,
  body .content-function .text-box h3 {
    margin-bottom: 25px;
  }
}

html .content-flow-HR,
body .content-flow-HR {
  background-color: #7db9de;
}

html .content-flow-HR img,
body .content-flow-HR img {
  width: 100%;
  border-radius: 30px;
}

html .content-flow-attendance,
body .content-flow-attendance {
  background-color: #c5de7d;
}

html .content-flow-attendance img,
body .content-flow-attendance img {
  width: 100%;
  border-radius: 30px;
}

html .content-flow-money,
body .content-flow-money {
  background-color: #a5abe4;
}

html .content-flow-money img,
body .content-flow-money img {
  width: 100%;
  border-radius: 30px;
}

html .content-Allicon .Allicon-gp,
body .content-Allicon .Allicon-gp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html .content-Allicon .Allicon-gp .Allicon,
body .content-Allicon .Allicon-gp .Allicon {
  width: 25%;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  html .content-Allicon .Allicon-gp .Allicon,
  body .content-Allicon .Allicon-gp .Allicon {
    width: 50%;
    padding: 0 10px;
  }
}

@media (max-width: 568px) {
  html .content-Allicon .Allicon-gp .Allicon,
  body .content-Allicon .Allicon-gp .Allicon {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
}

html .content-Allicon .Allicon-gp .Allicon img,
body .content-Allicon .Allicon-gp .Allicon img {
  width: 170px;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 10px 0;
}

@media (max-width: 768px) {
  html .content-other h2,
  body .content-other h2 {
    padding: 0 100px;
    line-height: 62px;
  }
}

html .content-other .link-gp,
body .content-other .link-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0 0;
}

@media (max-width: 768px) {
  html .content-other .link-gp,
  body .content-other .link-gp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0 0 0;
  }
}

html .content-other .link-gp .link,
body .content-other .link-gp .link {
  width: 49.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  html .content-other .link-gp .link,
  body .content-other .link-gp .link {
    width: 100%;
  }
}

html .content-other .link-gp .link h3,
body .content-other .link-gp .link h3 {
  text-align: center;
  margin-top: 10px;
}

html .content-other .link-gp .link img,
body .content-other .link-gp .link img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */