@charset "UTF-8";
* {
  font-family: "微軟正黑體";
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

* .container {
  width: 1140px;
  margin: auto;
  padding: 120px 0;
}

@media (max-width: 768px) {
  * .container {
    width: 80%;
    padding: 100px 0;
  }
}

@media (max-width: 568px) {
  * .container {
    padding: 60px 0;
  }
}

* h2 {
  font-size: 48px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  line-height: 48px;
}

* h3 {
  font-size: 30px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  line-height: 45px;
}

* h4 {
  font-size: 24px;
  color: #314965;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

* p {
  font-size: 16px;
  color: #727171;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 32px;
  font-weight: 500;
}

* a {
  text-decoration: none;
  list-style: none;
}

* .clearfix {
  clear: both;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-weight: bold;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body .navbar {
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 999;
  background-color: #2b5f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  body .navbar {
    display: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

body .navbar .pc {
  width: 1140px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body .navbar .pc {
    display: none;
  }
}

body .navbar .pc .navbar-L {
  width: 25%;
  height: 100%;
}

body .navbar .pc .navbar-L h4 {
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 80px;
}

body .navbar .pc .navbar-R {
  width: 75%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .navbar .pc .navbar-R h4 {
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  line-height: 80px;
  display: inline;
}

body .navbar .mobile {
  display: none;
  height: 60px;
}

@media (max-width: 768px) {
  body .navbar .mobile {
    display: block;
    position: relative;
  }
}

body .navbar .mobile .menu {
  position: absolute;
  top: 0;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .navbar .mobile .menu .fas.fa-bars {
  font-size: 30px;
  line-height: 60px;
  padding: 0 30px;
  color: white;
}

body .navbar .mobile .menu ul {
  display: block;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 60px;
  position: absolute;
  top: 60px;
  left: -100vw;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

body .navbar .mobile .menu a {
  color: #fff;
}

body .navbar .mobile .menu:hover ul {
  display: inline-block;
  color: #7db9de;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  top: 60px;
  left: 0;
}

body .navbar .mobile .menu:hover li:hover {
  color: #7db9de;
}

body .navbar .mobile .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .navbar .mobile .title h4 {
  font-size: 24px;
  color: white;
  line-height: 60px;
  margin: 0;
}

body .swiper-container {
  width: 100%;
  height: 100vh;
}

@media (max-width: 1024px) {
  body .swiper-container {
    height: 80vh;
  }
}

body .swiper-container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .swiper-container .swiper-slide h2,
body .swiper-container .swiper-slide h4 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide .BN1 {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide .BN2 {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide .BN3 {
    -o-object-position: 15%;
       object-position: 15%;
  }
}

body .swiper-container .swiper-slide .BN-text-gp {
  position: absolute;
}

body .swiper-container .swiper-slide #BN-title1 {
  top: 18%;
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide #BN-title1 {
    top: 45%;
    margin: auto;
  }
}

body .swiper-container .swiper-slide #BN-title2 {
  top: 45%;
  right: 15%;
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide #BN-title2 {
    top: 45%;
    margin: auto;
  }
}

body .swiper-container .swiper-slide #BN-title3 {
  top: 45%;
  left: 13%;
}

@media (max-width: 768px) {
  body .swiper-container .swiper-slide #BN-title3 {
    top: 45%;
    margin: auto;
  }
}

body .content-torment .icon-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .content-torment .icon-gp .icon {
  width: 33.3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  body .content-torment .icon-gp .icon {
    width: 50%;
    padding: 0 10px;
  }
}

@media (max-width: 568px) {
  body .content-torment .icon-gp .icon {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
}

body .content-torment .icon-gp .icon img {
  margin: 10px 0;
}

body .content-whats365 {
  background-color: #eeefef;
  background-image: url(../img/cloud.png);
  background-position: left 100%;
  background-repeat: no-repeat;
}

body .content-function .explain-L {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  body .content-function .explain-L {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .content-function .explain-R {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  body .content-function .explain-R {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .content-function .explain-img {
  width: 45%;
}

@media (max-width: 768px) {
  body .content-function .explain-img {
    width: 80%;
    margin: auto;
  }
}

body .content-function .explain-img img {
  width: 100%;
}

body .content-function .text-box {
  width: 40%;
  text-align: center;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  body .content-function .text-box {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media (max-width: 568px) {
  body .content-function .text-box {
    margin-top: 25px;
    margin-bottom: 80px;
  }
}

body .content-function .text-box .text-gp {
  text-align-last: left;
  margin-bottom: 25px;
}

body .content-function .text-box .btn {
  padding: 0 30px;
  background-color: #2b5f75;
  border-radius: 10px;
  border: none;
}

body .content-function .text-box .btn h4 {
  font-size: 24px;
  color: white;
  font-family: "微軟正黑體";
  font-weight: bold;
}

body .content-function .text-box .btn:hover {
  background-color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body .content-client img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding-bottom: 100px;
}

body .content-recommend {
  background-color: #7db9de;
}

body .content-recommend h3 {
  color: white;
}

body .content-recommend .img-gp .talk-L {
  float: left;
}

body .content-recommend .img-gp .talk-R {
  float: right;
}

body .content-recommend .img-gp img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 25px 0;
}

@media (max-width: 768px) {
  body .content-recommend .img-gp img {
    width: 100%;
  }
}

body .content-contactus .notice {
  width: 100%;
  padding: 100px;
  background-color: #eeefef;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  body .content-contactus .notice {
    padding: 60px;
  }
  body .content-contactus .notice h3 {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  body .content-contactus .notice {
    padding: 60px 30px;
  }
}

body .content-contactus .notice .btn {
  padding: 0 30px;
  background-color: #2b5f75;
  border-radius: 10px;
  border: none;
}

body .content-contactus .notice .btn h4 {
  font-size: 24px;
  color: white;
  font-family: "微軟正黑體";
  font-weight: bold;
}

body .content-contactus .notice .btn:hover {
  background-color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body footer h4,
body footer p {
  color: white;
}

body footer .ft-top {
  width: 100%;
  background-color: #2b5f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 40px;
}

body footer .ft-top .text-gp {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 568px) {
  body footer .ft-top .text-gp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
}

body footer .ft-top .text-gp .text-box {
  display: inline-block;
  text-align-last: left;
  margin: 0 10px;
}

@media (max-width: 768px) {
  body footer .ft-top .text-gp .text-box {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 568px) {
  body footer .ft-top .text-gp .text-box {
    text-align-last: center;
  }
}

body footer .ft-bot {
  background-color: #a5dee4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

body footer .ft-bot .copyright {
  width: 100%;
  max-width: 1140px;
}

body footer .ft-bot .copyright p {
  color: #2b5f75;
  font-weight: bold;
}

@media (max-width: 568px) {
  body footer .ft-bot .copyright p {
    font-size: 14px;
  }
}

body .back-top {
  width: 60px;
  height: 60px;
  z-index: 999;
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 24px;
  color: #727171;
  line-height: 55px;
  text-align: center;
}

@media (max-width: 1024px) {
  body .back-top {
    right: 25px;
    bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */