@import "./guideline";
@import "./mixin";
// 通用
* {
    font-family: "微軟正黑體";
    box-sizing: border-box !important;
    .container {
        width: 1140px;
        margin: auto;
        padding: $padding-L 0;
        @include pad() {
            width: 80%;
            padding: $padding-M 0;
        }
        @include mobile-L() {
            padding: $padding-S 0;
        }
    }
    h2 {
        font-size: $font-size-h2;
        color: $font-color-title-D;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: $margin-XS;
        line-height: 48px;
    }
    h3 {
        font-size: $font-size-h3;
        color: $font-color-title-D;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: $margin-S;
        line-height: 45px;
    }
    h4 {
        font-size: $font-size-h4;
        color: $font-color-title-D;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: $margin-XS;
        margin-bottom: $margin-XS;
    }
    p {
        font-size: $font-size-p;
        color: $font-color-text;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 32px;
        font-weight: 500;
    }
    a {
        text-decoration: none;
        list-style: none;
    }
    .clearfix {
        clear: both;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    .navbar {
        @include navbar();
    }
    // Banner
    .swiper-container {
        width: 100%;
        height: 100vh;
        @include web-S() {
            height: 80vh;
        }
        .swiper-slide {
            position: relative;
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            h2,
            h4 {
                color: $font-color-title-L;
                text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .BN1 {
                @include pad() {
                    object-position: 80%;
                }
            }
            .BN2 {
                @include pad() {
                    object-position: 80%;
                }
            }
            .BN3 {
                @include pad() {
                    object-position: 15%;
                }
            }
            .BN-text-gp {
                position: absolute;
            }
            #BN-title1 {
                top: 18%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
            #BN-title2 {
                top: 45%;
                right: 15%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
            #BN-title3 {
                top: 45%;
                left: 13%;
                @include pad() {
                    top: 45%;
                    margin: auto;
                }
            }
        }
    }
    // 你有以下困擾嗎
    .content-torment {
        .icon-gp {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .icon {
                width: 33.3%;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                margin-bottom: $margin-M;
                @include pad() {
                    width: 50%;
                    padding: 0 $padding-XXS;
                }
                @include mobile-L() {
                    width: 100%;
                    margin: auto;
                    margin-bottom: $margin-M;
                }
                img {
                    margin: $margin-XS 0;
                }
            }
        }
    }
    // 什麼是Class365
    .content-whats365 {
        background-color: $light-gray;
        background-image: url(../img/cloud.png);
        background-position: left 100%;
        background-repeat: no-repeat;
    }
    // 模組介紹
    .content-function {
        .explain-L {
            width: 100%;
            display: flex;
            justify-content: space-around;
            @include pad() {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
        .explain-R {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: row-reverse;
            @include pad() {
                flex-direction: column;
            }
        }
        .explain-img {
            width: 45%;
            @include pad() {
                width: 80%;
                margin: auto;
            }
            img {
                width: 100%;
            }
        }
        .text-box {
            width: 40%;
            text-align: center;
            margin-bottom: $margin-XL;
            @include pad() {
                width: 80%;
                margin: auto;
                margin-top: $margin-M;
                margin-bottom: $margin-L;
            }
            @include mobile-L() {
                margin-top: $margin-S;
                margin-bottom: $margin-L;
            }
            .text-gp {
                text-align-last: left;
                margin-bottom: $margin-S;
            }
            .btn {
                @include btn();
            }
        }
    }
    // 我們的客戶
    .content-client {
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            padding-bottom: $padding-M;
        }
    }
    // 好評推薦
    .content-recommend {
        background-color: $basic-blue;
        h3 {
            color: $font-color-title-L;
        }
        .img-gp {
            .talk-L {
                float: left;
            }
            .talk-R {
                float: right;
            }
            img {
                object-fit: cover;
                object-position: center;
                margin: $margin-S 0;
                @include pad() {
                    width: 100%;
                }
            }
        }
    }
    // 聯絡我們
    .content6 {
        .notice {
            @include notice();
        }
    }
    footer {
        @include footer();
    }
    .back-top {
        @include back-top();
    }
}
